<main>
  <div class="title">
    <h1>{{ currentPlayer$ | async }}/{{ players }}</h1>
  </div>
  <h1 class="word-container" *ngIf="!hideWord; else elseBlock">
    {{ currentPlayerWord$ | async }}
  </h1>
  <ng-template #elseBlock>
    <h1 class="word-container">-</h1>
  </ng-template>
  <div class="control-container">
    <button
      class="app-rounded-btn secondary"
      (pointerdown)="visibilityOn()"
      (pointerup)="visibilityOff()"
      (pointerleave)="visibilityOff()">
      <fa-icon [icon]="viewIcon"></fa-icon>
    </button>
    <ng-container *ngIf="(isLastPlayer$ | async) === false">
      <button class="app-rounded-btn primary" (click)="nextPlayer()">
        <fa-icon [icon]="nextIcon"></fa-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="(isLastPlayer$ | async)">
      <button routerLink="/end" class="app-rounded-btn primary">
        <fa-icon [icon]="stopIcon"></fa-icon>
      </button>
    </ng-container>
  </div>
  <button routerLink="/score" class="app-btn tertiary">Score</button>
</main>
