@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  font-family: 'Roboto', sans-serif;
  background-color: #232829;
  color: white;
  padding: 0;
  margin: 0;
  height: 100dvh;
  touch-action: none;
}

.primary {
  background: #DB5132;
}

.secondary {
  background-color: #5D4060;
}

.tertiary {
  background-color: #237484;
}

.app-rounded-btn {
  width: 90px;
  height: 90px;
  flex-shrink: 0;
  color: white;
  border-radius: 63px;
  border-style: none;
  font-size: 25px;
  user-select: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
